@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-height: 90%;
  width: 100%;
}

body {
  
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: rgb(6,4,129);
  background: radial-gradient(circle, rgba(6,4,129,1) 0%, rgba(2,1,85,1) 100%);
  
   
}
  
.header-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  
  width: 40em;
  height: 7.9em;
  margin: 2em auto 1em auto;
  padding: 1em;      
}

.score-container {
  color: hsl(229, 64%, 46%);
  font-size: 1em;
  background: white;
  border-radius: 0.9em;
  justify-content: center;
  padding: 0.7em 2em 4.7em 2em;
}

.score-container h2 {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;  
}
  
.score {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;  
}

.score-result {
  font-size: 2.5em;
}

.btn-choice {
  border-radius: 50%;
  width: 9em;
  height: 9em;
}

.btn-choice:hover {
  cursor: pointer;
}

.btn-paper {
  border: 12px solid #06d6a0;
  box-shadow: inset 0 8px 6px rgba(0, 0, 0, 0.3);
}

.btn-rock {
  border: 12px solid #ef476f;
  box-shadow: inset 0 8px 6px rgba(0, 0, 0, 0.3);
}

.btn-scissors {
  border: 12px solid #ffc43d;
  margin-top: 17em;
  box-shadow: inset 0 8px 6px rgba(0, 0, 0, 0.3);
}

.container-game {
  
  width: 25em;
  height: 21em;
  
  margin: 2em auto 2em auto;
  background-image: url("https://cdn.glitch.com/2fd08c07-965d-4fe4-ac3e-aa8d0ff79be1%2Fbg-triangle.svg?v=1595196423097");
  background-repeat: no-repeat;
  background-position: bottom;
  
  display: flex;
  justify-content: space-around;
  
}

@media screen and (max-width: 600px)  {
  main {
    max-width: 100%;
    height: auto;
    margin: 0 0 0 0;
  }
  
  .header-container {  
    width: 90%;
    height: 20%;
    text-align: center;
    padding: 3% 3% 3% 3%;
  }
  
  .logo {
    max-width: 100%;
    height: 100%;
  }
  
  .score-container {
    height: 100%;
    padding: 0.5em 1.5em 2.5em 1.5em;
    margin: 0;
  }
  
  .score {
    position: relative;
    align-items: center;
    font-size: 0.8em;
    
  }
  
  .score-result {
    font-size: 1.9em;
  }
  
  .btn-choice {
    width: 7em;
    height: 7em;
  }
  
  .btn-img {
    width: 3em;
    height: 3em;
  }
  
  .container-game {
    width: 95%;
    height: auto;
    background-size: 13em;
    padding: 2% 0 0 0;
    background-position: center;
  }
  
  .btn-paper {
    border: 8px solid #06d6a0;
    margin: 2% 0 0 8%;
  }
  
  .btn-rock {
    border: 8px solid #ef476f;
    margin: 2% 10% 0 0;
  }

  .btn-scissors {
    border: 8px solid #ffc43d;
    margin: 50% 0 0 2%;
  }
  
}

/* FIM DO @MEDIA */



.footer-container {
  text-align: right;
  margin-right: 5em;
}

@media only screen and (max-width: 600px) {
  
  .footer-container {
    text-align: center;
    margin-right: 0;
    padding: 5px;
    margin: 0 auto;
    padding-bottom: 5%; 
  }
}


.btn-rules {
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid hsl(217, 16%, 45%); 
  padding: 0.5em 2em 0.5em 2em;
  cursor: pointer;
  background: transparent;
  letter-spacing: 0.1rem;
  color: white;
}

.btn-rules:hover {
  background: hsl(217, 16%, 45%);
  color: white;
}

p {
  text-align: center;
}
